- @title = "Contact"
.grid_8
  %h1= @title
  
  %p If you have questions about our organization or our meetings, feel free to contact us.
  %ul
    %li brian (at) ecruby.org
    %li kevin (at) ecruby.org

.grid_4
  %h3 ECRuby Elsewhere
  %ul
    %li= link_to "Chat"
    %li= link_to "@ecruby on Twitter", "http://www.twitter.com/ecruby"  
    %li= link_to "Google Group", "http://groups.google.com/group/ecruby/"
    %li= link_to "Source code at GitHub", "http://www.github.com/ecruby"
    %li= link_to "@gisikw on Twitter", "http://www.twitter.com/gisikw"  
    %li= link_to "@bphogan on Twitter", "http://www.twitter.com/bphogan"  
    
    