-@title = "Getting Started with Ruby"
  
.grid_8
  %h1= @title


  %p Ruby is one of the most powerful languages available today, and it's also one of the easiest to learn. This page contains everything you need to know to get started working with Ruby today.
  %h3 Giving Ruby a Spin
  %p
    You don't need to install anything on your computer if you just want to get your feet wet. Visit
    =link_to "Try Ruby (In Your Browser!)", "http://tryruby.sophrinix.com/"
    and follow along with the interactive tutorial to see how easy Ruby's syntax is.
  
.grid_4
  %h3 Quick links
  %ul
    %li= link_to "Try Ruby (In Your Browser!)", "http://tryruby.sophrinix.com/"
    %li= link_to "RubyInstaller for Windows", 'http://www.rubyinstaller.org'
    %li= link_to "Download Ruby", 'http://www.ruby-lang.org/en/downloads/'
    %li= link_to 'Ruby on Rails Wiki', 'http://wiki.rubyonrails.org'
    %li= link_to 'Programming Ruby - Free book', 'http://www.rubycentral.com/book/'
    %li= link_to "_why's Poignant Guide to Ruby", 'http://why.kevingisi.com/whys-poignant-guide-to-ruby.pdf'
    %li= link_to 'Sinatra', 'http://www.sinatrarb.com/intro.html'
    %li= link_to "StaticMatic", 'http://staticmatic.rubyforge.org/'
    
.clear
.grid_12
  %h3 Getting Ruby set up on your machine
  %p 
    Ruby is relatively easy to install on nearly every platform. However, we recommend installing
    %strong
      Ruby 1.8
    at the moment, as many libraries you may want to try are not yet compatible with Ruby 1.9.
 
.grid_6
  .box
    %h4 Windows
    %p 
      Windows users can grab the 
      =link_to "RubyInstaller For Windows", "http://rubyforge.org/frs/download.php/66871/rubyinstaller-1.8.6-p383-rc1.exe"
      which will install Ruby and the Rubygems package manager.
    %p Once installed, open a Command Prompt and type
    %pre
      :preserve
        gem update --system
    %p This updates Rubygems to the latest version if necessary.

.grid_6
  .box
    %h4 Mac OS X
    %p Both Leopard and Snow Leopard come with Ruby already installed. However, you may want to update Rubygems. Open a Terminal window and type
    %pre
      :preserve
        sudo gem update --system
    %p Enter your password when prompted to complete the command.
    %p This updates Rubygems to the latest version if necessary.

.clear
.grid_12
  .box
    %h4 Linux (Ubuntu)
    %p 
      Use
      %strong
        apt
      to install the necessary libraries
    %pre
      :preserve
        sudo apt-get install libopenssl-ruby libreadline-ruby1.8 build-essential \
        ruby ruby1.8-dev irb rake rdoc libsqlite-ruby sqlite3 git-core libxml-ruby \
        libiconv-ruby libxslt-ruby libxslt1-dev libxml2-dev

    %p Next, install RubyGems to manage packages
    %pre
      :preserve
        mkdir src
        cd src
        wget http://rubyforge.org/frs/download.php/60718/rubygems-1.3.5.tgz
        tar xzvf rubygems-1.3.5.tgz
        cd rubygems-1.3.5
        sudo ruby setup.rb
        sudo ln -s /usr/bin/gem1.8 /usr/bin/gem
        sudo gem update --system
  

.grid_12
  %h3 Build something
  %p Now that you have Ruby installed, try building something fun.

  %ul
    %li
      = link_to 'The Rails Cookbook - A Ruby on Rails Crash Course', 'http://dl.dropbox.com/u/50783/rails_cookbook.pdf'
      %p Learn about the Rails framework and build a simple cookbook web application with this free guide.
  
    %li
      = link_to 'Programming Ruby - Free book', 'http://www.rubycentral.com/book/'
      %p A very detailed guide on Ruby
    %li
      = link_to "_why's Poignant Guide to Ruby", 'http://why.kevingisi.com/whys-poignant-guide-to-ruby.pdf'
      %p One of the best learning guides ever. Fun to read, with great examples
    %li
      = link_to 'Sinatra', 'http://www.sinatrarb.com/intro.html'
      %p A very small and easy to use web framework, great for making micro sites or web services
    %li
      = link_to "StaticMatic", 'http://staticmatic.rubyforge.org/'
      %p Build static websites quickly. We use StaticMatic to manage this web site
