- @title = "Resources"
.sixteen.columns
  %h2 Resources
  %p These are some of the best resources we've found to help you learn Ruby, Rails, and related technologies.


.eight.columns
  %h3  Books
  
  %h4= link_to "Agile Web Development with Rails, Fourth Edition", "http://pragprog.com/titles/rails4/agile-web-development-with-rails"
  %p The essential book for learning the ins-and-outs of Rails.
  
  %h4= link_to "The Well Grounded Rubyist", "http://manning.com/black2/"
  %p This book will take you from "interested novice to skilled professional". A perfect second book.
  
  %h4= link_to "Ruby in Practice", "http://manning.com/mcanally/"
  %p Like Ruby itself, Ruby in Practice will make you more productive. The book shows you practical techniques and strategies for small projects and large-scale environments. A cookbook-style reference, it gives you concrete examples of systems integration, messaging, web development, and databases, all in a clear problem/ solution format.
  

  %h4= link_to "Rails for .Net Developers","http://www.pragprog.com/titles/cerailn/rails-for-net-developers"
  %p Rails for .NET Developers introduces the joy of Ruby on Rails development to Microsoft .NET developers. This book demonstrates the essential elements of both the Ruby language and the Rails application framework, geared especially for developers already fluent in the Microsoft .NET platform.

  %h4= link_to "Rails for PHP Developers", "http://www.pragprog.com/titles/ndphpr/rails-for-php-developers"
  %p Are you a PHP developer interested in the Ruby on Rails framework? Rails for PHP Developers kick-starts your Rails experience by guiding you through learning both Ruby and Rails from a PHP developerís perspective

  %h4= link_to "Rails for Java Developers", "http://www.pragprog.com/titles/fr_r4j/rails-for-java-developers"
  %p Written by experienced developers who love both Java and Ruby, this book will show you, via detailed comparisons and commentary, how to translate your hard-earned Java knowledge and skills into the world of Ruby and Rails.
  
  %h4= link_to "The Rails Way", "http://www.amazon.com/Rails-Way-Addison-Wesley-Professional-Ruby/dp/0321445619"
  %p An excellent resource for doing more advanced things with Rails.

  %h4= link_to "Metaprogramming Ruby", "http://pragprog.com/titles/ppmetr/metaprogramming-ruby"
  %p As a Ruby programmer, you already know how much fun it is. Now see how to unleash its power, digging under the surface and exploring the language’s most advanced features

.eight.colums
  %h3  Websites
  %h4= link_to "PlanetRubyOnRails", "http://www.planetrubyonrails.org"
  %p A blog that aggregates the top Rails-related blogs. The best place to get your daily Ruby and Rails-related news.
  
  %h4= link_to "Rails Mentors", "http://railsmentors.org"
  %p Learn Rails and related technologies through this 100% volunteer effort.
  
  %h4= link_to "WorkingWithRails", "http://www.workingwithrails.com"
  %p The "who's who" of Rails developers. If you're working professionally with Rails, link yourself here.
  
  %h3 Videos
  %h4= link_to "Railscasts", "http://www.railscasts.com"
  %p Over 100 free video tutorials that take you through some of the most widely used features of the Rails framework.
  
  %h4= link_to "Rails Lab - Scaling Rails", "http://railslab.newrelic.com/scaling-rails"
  %p High-quality series of videos that discuss how to make Rails scale well under heavy load. A must-see for skeptics.
  
  %h4= link_to "PeepCode", "http://www.peepcode.com"
  %p Multiple professionally-developed tutorials on various Rails-related topics for $9 each.