.grid_12
  %h2 Resources
  %p These are some of the best resources we've found to help you learn Ruby, Rails, and related technologies.

.grid_4
  %h3 Videos
  %h4= link_to "Railscasts", "http://www.railscasts.com"
  %p Over 100 free video tutorials that take you through some of the most widely used features of the Rails framework.
  
  %h4= link_to "Rails Lab - Scaling Rails", "http://railslab.newrelic.com/scaling-rails"
  %p High-quality series of videos that discuss how to make Rails scale well under heavy load. A must-see for skeptics.
  
  %h4= link_to "PeepCode", "http://www.peepcode.com"
  %p Multiple professionally-developed tutorials on various Rails-related topics for $9 each. 
  
.grid_4
  %h3  Books
  %h4= link_to "Ruby in Practice", "http://manning.com/mcanally/"
  %p Like Ruby itself, Ruby in Practice will make you more productive. The book shows you practical techniques and strategies for small projects and large-scale environments. A cookbook-style reference, it gives you concrete examples of systems integration, messaging, web development, and databases, all in a clear problem/ solution format.
  
  %h4= link_to "Agile Web Development with Rails, Third Edition", "http://www.pragprog.com/titles/rails3/agile-web-development-with-rails-third-edition"
  %p The essential book for learning the ins-and-outs of Rails.
  
  %h4= link_to "Rails for .Net Developers","http://www.pragprog.com/titles/cerailn/rails-for-net-developers"
  %p Rails for .NET Developers introduces the joy of Ruby on Rails development to Microsoft .NET developers. This book demonstrates the essential elements of both the Ruby language and the Rails application framework, geared especially for developers already fluent in the Microsoft .NET platform.

  %h4= link_to "Rails for PHP Developers", "http://www.pragprog.com/titles/ndphpr/rails-for-php-developers"
  %p Are you a PHP developer interested in the Ruby on Rails framework? Rails for PHP Developers kick-starts your Rails experience by guiding you through learning both Ruby and Rails from a PHP developer’s perspective

  %h4= link_to "Rails for Java Developers", "http://www.pragprog.com/titles/fr_r4j/rails-for-java-developers"
  %p Are you a PHP developer interested in the Ruby on Rails framework? Rails for PHP Developers kick-starts your Rails experience by guiding you through learning both Ruby and Rails from a PHP developer’s perspective
  
  %h4= link_to "The Rails Way", "http://www.amazon.com/Rails-Way-Addison-Wesley-Professional-Ruby/dp/0321445619"
  %p An excellent resource for doing more advanced things with Rails.

  %h4= link_to "Web Design for Developers", "http://www.pragprog.com/titles/bhgwad/web-design-for-developers"
  %p Web Design for Developers will show you how to make your web-based application look professionally designed. We’ll help you learn how to pick the right colors and fonts, avoid costly interface and accessibility mistakes—your application will really come alive. We’ll also walk you through some common Photoshop and CSS techniques and work through a web site redesign, taking a new design from concept all the way to implementation.  

  %h4= link_to "Design Accessible Web Sites", "http://www.pragprog.com/titles/jsaccess/design-accessible-web-sites"
  %p Accessibility has a reputation of being dull, dry, and unfriendly toward graphic design. But there is a better way: well-styled semantic markup that lets you provide the best possible results for all of your users. This book will help you provide images, video, Flash and PDF in an accessible way that looks great to your sighted users, but is still accessible to all users.

.grid_4
  %h3  Websites
  %h4= link_to "PlanetRubyOnRails", "http://www.planetrubyonrails.org"
  %p A blog that aggregates the top Rails-related blogs. The best place to get your daily Ruby and Rails-related news.
  
  %h4= link_to "Rails Mentors", "http://railsmentors.org"
  %p Learn Rails and related technologies through this 100% volunteer effort.
  
  %h4= link_to "WorkingWithRails", "http://www.workingwithrails.com"
  %p The "who's who" of Rails developers. If you're working professionally with Rails, link yourself here.