- @title = "RubyCamp"
.sixteen.columns
  %h1= @title
  %ul
    %li= link_to "Installation Instructions", "camp/install.html"
    %li= link_to "Sinatra", "camp/sinatra.html"
    %li
      Mobile Apps with Rails
      = link_to "Slides", "http://ecruby.org/files/rubycamp/cvrc2012-rails-mobile.pdf"
      = link_to "Step By Step notes", "camp/rails.html"