!!!
%html
  %head
    %title= "#{@title} | ECRuby - The Chippewa Valley Ruby Users Group (ECRuby)"
    %script{ :src => "http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/flowplayer-3.1.4.min.js" }    
    = stylesheets "style"
  %body
    #page
      #headerwrap
        #header.container_12
          .grid_12
            =img "ecrubylogo.png"
          .clear
    
      #navwrap.container_12
        #navbar.grid_12
          = menubar(["Home", "/"], "Meetings and Events", "Presentations", "Resources", "Chat", "Contact", "Jobs", "Getting Started with Ruby", :selected => { :class => 'current', :item => :a })
        .clear
      #contentwrap.clearfix
        
        #content.container_12
          = yield
      
    #footerwrap.container_12
      #footer.grid_12
        %p &copy; 2009 ecruby.org
      .clear
